@charset "utf-8";
/***************************************************************************/
/********************************  $Content  *******************************/
/** 
* + Content
* + Imports Fonts and Icons
* + General Tags
* + General Styles
*   + Alerts
*   + Buttons
*   + Collapse
*   + Donation
*   + Footer
*   + Forms
*   + Gallery
*   + Header
*   + Home
*   + Information
*   + Make a Donation
*   + Nevbar
*   + Profile
*   + Social
*   + Team
*   + Testimonials
*   + Tour
*   + Video

*/
/**
 *
 *
 *
 *
/***************************************************************************/
/***********************  $Imports Fonts and Icons  ************************/
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700");
/**
 *
 *
 *
 *
/***************************************************************************/
/*****************************  $General Tags  *****************************/
a {
  color: #1f650c;
  font-size: 0.875em;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:hover {
  color: #1f4e92;
  text-decoration: none;
}
article {
  padding: 80px 0 40px 0;
}
blockquote {
  border: none;
  font-family: 'PT Serif';
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  margin:0 auto;
  padding: 0.5em 0;
  text-align: center;
  width: 63%;
}
body {
  font-family: 'Open Sans';
  font-size: 16px;
  padding-top: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #19510a;
  font-family: 'PT Serif';
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}
h3 i {
  background-color: #b5191c;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  height: 2em;
  line-height: 2.2em;
  text-align: center;
  width: 2em;
}
h3 i.round {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
img {
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
object,
embed {
  outline: 0;
}
p {
  color: #878787;
  font-size: 0.875em;
  line-height: 1.8em;
  margin: 0 0 1.8em 0;
}
p a {
  font-size: 1em;
}
ul {
  padding: 0;
}
/**
 *
 *
 *
 *
/***************************************************************************/
/****************************  $General Styles  ****************************/
/**
 *
 *
/********************************  $Alert  *********************************/
.alert {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: none;
}
/**
 *
 *
/*******************************  $Buttons  ********************************/
.btn {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  font-family: 'PT Serif';
  font-size: 1em;
  font-weight: 700;
  margin: 1em 5%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 90%;
}
.btn.btn-default {
  background-color: #B5191C;
  color: #fff;
}
.btn.btn-default:hover {
  background-color: #52C960;
}
.btn i {
  color: rgba(255,255,255,0.5);
  font-size: 1.5em;
  position: relative;
  top: 3px;
}
/**
 *
 *
/********************************  $Collapse  ******************************/
.panel-group .panel {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel-heading {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}
.panel-group .panel-heading .panel-title {
  border: 1px solid #e8e9ee;
  position: relative;
}
.panel-group .panel-heading .panel-title a {
  background-color: #fff;
  color: #19510a;
  display: block;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.4em;
  padding: 0.4em 0.5em;
}
.panel-group .panel-heading .panel-title a:not(.collapsed),
.panel-group .panel-heading .panel-title a:hover {
  color: #b5191c;
}
.panel-group .panel-heading .panel-title i {
  float: left;
  font-size: 0.9em;
  margin: 0 0.3em 0 0;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
  background-color: transparent;
  border: none;
  font-size: 0.8em;
  line-height: 1.7em;
  padding: 1.5em;
}
/**
 *
 *
/*******************************  $Donation  *******************************/
.donation {
  background-image: url("../img/bg/donations1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.donation h2,
.donation h3,
.donation h4 {
  color: #fff;
}
.donation label {
  color: #718097;
  font-size: 0.875em;
  font-weight: normal;
  text-align: right;
}
.donation hr {
  border-top: 1px solid #2E3C52;
}
.donation p {
  color: #718097;
}
.donation p a {
  color: #ADBDD5;
}
.donation p a:hover {
  text-decoration: underline;
}
.donation .btn.btn-default {
  border-radius: 2px;
  line-height: 2em;
  margin: 0;
  width: 100%;
}
.donation .donation_item{
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.donation .logo-paypal {
  display: block;
  margin: 0 auto 1em;
  max-width: 280px;
  text-align: center;
  width: 100%;
}

/**
 *
 *
/********************************  $Footer  ********************************/
.footer {
  background-color: #19510a;
  color: #7e9ab0;
  font-size: 0.9em;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #19510a;
}
.footer h3 {
  color: #fff;
  margin: 1.5em auto 1em;
  text-align: center;
  width: 80%;
}
.footer h3 span {
  display: block;
  border-bottom: 3px double #1f650c;
}
.footer p {
  color: #7e9ab0;
}
.footer ul {
  list-style: none;
}
.footer ul a {
  color: #7e9ab0;
}
.footer ul a:hover {
  color: #fff;
}
.footer .about-img {
  border: 3px solid #fff;
  margin: 1em auto;
  width: 84px;
}
.footer .bottom-foot {
  border-top: 2px solid #1f650c;
  font-size: 0.9em;
  margin: 2em 0 0 0;
  padding: 2em 0;
  text-align: center;
}
.footer .copy {
  line-height: 36px;
}
.footer .go-to-top {
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #324f7b;
  display: block;
  font-size: 1.5em;
  height: 36px;
  left: 50%;
  line-height: 36px;
  margin: 0 0 0 -18px;
  position: absolute;
  text-align: center;
  top: -18px;
  width: 36px;
}
/**
 *
 *
/********************************  $Forms  *********************************/
.form-control {
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1f650c;
  font-family: 'PT Serif';
  font-size: 0.8em;
  height: 45px;
  line-height: 25px;
  padding: 10px 1em;
}
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.control-label {
  color: #fff;
}
/**
 *
 *
/*******************************  $Gallery  ********************************/
.gallery {
  background-color: #e8e9ee;
}
.gallery figcaption {
  background-color: #fff;
  font-weight: 500;
  padding: 1em;
  position: relative;
}
.gallery figcaption:after {
  border-color: #fff transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  content: '';
  display: block;
  left: 24px;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
}
.gallery figcaption p {
  margin: 0;
}
.gallery figure {
  margin: 1em;
  max-width: 500px;
}
.fancybox-title-float-wrap {
  bottom: auto;
  margin: 1em 0 0 0;
  top: 100%;
}
.fancybox-title-float-wrap .child {
  white-space: normal;
}
.item-thumbnail {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.item-thumbnail:hover>a {
  display: block;
}
.item-thumbnail:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.item-thumbnail:hover .overthumb {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.item-thumbnail:hover .icons:after {
  height: 50%;
  width: 100%;
}
.item-thumbnail:hover .icons:before {
  height: 100%;
  width: 50%;
}
.item-thumbnail:hover .icons:after,
.item-thumbnail:hover .icons:before {
  left: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 0;
}
.item-thumbnail>a {
  display: none;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
}
.item-thumbnail img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.item-thumbnail .icons {
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
  top: 50%;
  width: 60px;
}
.item-thumbnail .icons:after,
.item-thumbnail .icons:before {
  content: '';
  height: 0;
  left: -200%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: -200%;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  width: 0;
}
.item-thumbnail .icons:after {
  border-bottom: 1px solid #fff;
}
.item-thumbnail .icons:before {
  border-right: 1px solid #fff;
}
.item-thumbnail .overthumb {
  background: #b5191c;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}
/**
 *
 *
/********************************  $Header  ********************************/
body>header {
  padding: 0;
}
body > header > nav > div > div.navbar-header > a > img{
  margin: 0 0 0 14px;
}
/**
 *
 *
/*********************************  $Home  *********************************/
.home {
    background: #19510a url("../img/bg/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
}
.home form {
  background-color: #10230B;
  margin: 1em auto;
  padding: 1em 2em;
}
.home form h2 {
  color: #fff;
  font-family: 'PT Serif';
  font-size: 1.6em;
  font-weight: normal;
  margin: 0.2em 0 0.6em 0;
  text-align: center;
  text-transform: uppercase;
}
.home h3 {
  color: #FFF;
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
}
.home p {
  font-size: 1.2em;
  color: #FFF;
  margin: 1em 0;
}
.home .intro .btn {
  width: auto;
  float: left;
  padding: 1em 4em;
  margin: 1em 0;
}
.home form p {
  color: #fff;
  margin-bottom: 19px;
  text-align: center;
}
.home form .btn {
  margin: 1em 0;
  width: 100%;
  line-height: 1;
  vertical-align: inherit;
  padding: 0.5em 0 0.8em 0;
}
.home form .btn:hover {
  opacity: 1;
}

/**
 *
 *
/*****************************  $Information  ******************************/
.information {
  background-color: #fff;
}
.information .row div {
  margin-bottom: 1em;
}
/**
 *
 *
/***************************  $Make a Donation  ****************************/
.make-donation {
  background-color: #B5191C;
  border-left: 4px solid #823434;
  border-right: 4px solid #823434;
  color: #fff;
  display: block;
  font-weight: 700;
  padding: 1.5em 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.make-donation:hover {
  background: #1F4E92;
  border-left: 4px solid #103974;
  border-right: 4px solid #103974;  
  color: #fff;
  text-decoration: none;
}
.make-donation.make-donation-navbar {
  float: right;
  width: 180px;
  height: 72px;
  line-height: 72px;
  padding: 0;
  margin: 0 0 0 1em;
}
/**
 *
 *
/********************************  $Navbar  ********************************/
.navbar {
  background-color: rgba(9,31,4,1);
  margin: 0;
  min-height: 70px;
  padding: 0 15px;
}
.navbar .navbar-brand {
  padding: 21px 0;
}
.navbar .navbar-header {
  height: 70px;
  max-height: 70px;
  overflow: hidden;
  -webkit-transition: max-height 0.8s linear;
  -moz-transition: max-height 0.8s linear;
  -o-transition: max-height 0.8s linear;
  -ms-transition: max-height 0.8s linear;
  transition: max-height 0.8s linear;
}
.navbar .navbar-nav li {
  -webkit-transition: margin 0.8s linear;
  -moz-transition: margin 0.8s linear;
  -o-transition: margin 0.8s linear;
  -ms-transition: margin 0.8s linear;
  transition: margin 0.8s linear;
}
.navbar .navbar-nav li a {
  border-bottom: 3px solid transparent;
  color: #718097;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li.active a {
  background-color: transparent;
  color: #fff;
}
.navbar .navbar-nav li.active a {
  border-color: #B5191C;
}
.navbar .navbar-toggle {
  margin: 18px 0;
}
.navbar .navbar-toggle:focus {
  outline: none;
}
.navbar .navbar-toggle span {
  background-color: #fff;
}
/**
 *
 *
/*******************************  $Owl Item  *******************************/
.owl-theme .owl-controls .owl-page span {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #19510a;
  width: 52px;
  height: 7px;
  margin: 0 5px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background-color: #b4191d;
}
/**
 *
 *
/*******************************  $Profile  ********************************/
.profile {
  background-color: #fff;
  padding-bottom: 0;
}
.profile .img-candidate {
  margin: 0 auto;
}
.profile .profile-item {
  border-bottom: 1px solid #e8e9ee;
  margin: 0 0 2em 0;
  padding: 0 0.5em;
}
/**
 *
 *
/********************************  $Social  ********************************/
.social li {
  display: inline-block;
  list-style: none;
}
.social li a {
  color: #fff;
  display: block;
  font-size: 1.5em;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  width: 36px;
}
.social li a:hover {
  background-color: #b5191c !important;
}
.social li a.facebook {
  background-color: #4962a4;
}
.social li a.twitter {
  background-color: #41bff2;
}
.social li a.gplus {
  background-color: #ea5b4b;
}
.social li a.vimeo {
  background-color: #cd322d;
}
.social li a.linkedin {
  background-color: #41a2f3;
}
.social li a.mail {
  background-color: #416794;
}
/**
 *
 *
/*********************************  $Team  *********************************/
.team {
  background-color: #fff;
}
.team .youtube {
  border: 0 solid transparent;
  height: 300px;
  margin: 15px auto;
  width: 100%;
}
.team .panel-group {
  margin: 15px auto;
}
/**
 *
 *
/*****************************  $Testimonials  *****************************/
.testimonials {
  background-image: url("../img/bg/testimonials.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.testimonials .testimonials-item {
  background-color: #fff;
  margin: 15px 0 15px 70px;
  padding: 1.5em 1em 1.5em 60px;
  position: relative;
}
.testimonials .testimonials-item:hover {
  background-color: #19510a;
}
.testimonials .testimonials-item:hover h3,
.testimonials .testimonials-item:hover p {
  color: #fff;
}
.testimonials .testimonials-item figure {
  background-color: #fff;
  border: 4px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 110px;
  left: 0;
  margin: -55px 0 0 -55px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 110px;
}
.testimonials .testimonials-item h3 {
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.4em 0;
}
.testimonials .testimonials-item p {
  margin: 0;
}
/**
 *
 *
/*********************************  $Tour  *********************************/
.tour {
  background-color: #fff;
}
.tour .tour-item {
  padding: 15px 0;
  width: 100%;
}
.tour .tour-item .content {
  max-width: 280px;
  width: 100%;
}
.tour .tour-item:nth-child(odd) {
  text-align: right;
}
.tour .tour-item:nth-child(odd) .content {
  float: right;
}
.tour .tour-item:nth-child(even) {
  text-align: left;
}
.tour .tour-item:nth-child(even) .content {
  float: left;
}
.tour .tour-item a {
  color: #79b027;
}
.tour .tour-item a:hover {
  color: #1f650c;
}
.tour .tour-item h3 {
  color: #1f650c;
  font-size: 1.2em;
  font-weight: 700;
  margin: 15px 0 10px 0;
}
.tour .tour-item p {
  margin: 0;
}
.tour .tour-item .marker {
  border: 2px solid #79b027;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #79b027;
  display: inline-block;
  font-size: 40px;
  height: 75px;
  line-height: 75px;
  position: relative;
  text-align: center;
  width: 75px;
}
/**
 *
 *
/********************************  $Video  *********************************/
.video {
  background-color: #19510a;
  padding: 0;
  min-height: 300px;
  position: relative;
}
.video .separator {
  background-color: #fff;
  height: 80px;
}
