/* --------------------------------------------------------------

   basic layout

-------------------------------------------------------------- */

#wrap {
	width:960px;
	margin:0px auto;
	padding:0;
}
#head {
	background-color:#2E2E2E;
	margin:0;
	padding:0;
	height:70px;
}
#headwrap {
	margin:0 auto;
	width:960px;
	padding-top:20px;
}
#content {
	padding:20px 40px;
	background-color:#fff;
	margin-top:40px;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	background:#fff;
	border:1px solid #e5e5e5;
}
.column {
	width:380px;
	float:left;
}
.first {
	padding-right:100px;
	background:url(img/orSpacer.jpg) right center no-repeat;
}
#disclaimer {
	background:#E2E2E2 url(img/secure-paypal.jpg) 660px center no-repeat;
	padding:10px 300px 10px 20px;
	margin:20px 0;
}
/* --------------------------------------------------------------

   form elements

-------------------------------------------------------------- */

.red {
	color:#ff0000;
}
.divider {
	border-bottom:1px solid #cecece;
	margin:15px 0;
	clear:both;
}
.icon_warning {
	background:transparent url(img/exclamation.png) left no-repeat;
	padding:4px;
	padding-left:20px;
}
form#form_paypal .submit {
	cursor:pointer;
}
p.footer {
	font-size:.9em;
}
form#form_paypal form#form_paypal_rec input#input_amount input#input_amount_rec {
	width:50px;
	font-size:1em;
	padding:3px;
}
form#form_paypal_rec .submit {
	cursor:pointer;
}
input.password:hover, input.text:hover, textarea:hover {
	border-color:#BBBBBB;
}
input.text, select {
	font-size:16px;
	width:100px;
}
input.text, select {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
	border:2px solid #DDDDDD;
	padding:2px;
}
label {
	display:inline-block;
	float:none;
	width:200px;
	font-family:Georgia;
	font-size:10pt;
}
